/*-----------------------------------*\
  #main.css
\*-----------------------------------*/






/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --violet-blue-crayola: hsl(9, 100%, 62%);
  --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
  --white: hsla(0, 0%, 100%, 1);
  --white_a3: hsla(0, 0%, 100%, 0.03);
  --white_a8: hsla(0, 0%, 100%, 0.08);
  --white_a12: hsla(0, 0%, 100%, 0.12);
  --white_a70: hsla(0, 0%, 100%, 0.7);
  --cultured: hsla(220, 20%, 97%, 1);
  --lavender-web: hsla(233, 52%, 94%, 1);
  --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
  --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
  --charcoal: hsla(218, 22%, 26%, 1);
  --raisin-black: hsla(216, 14%, 14%, 1);
  --light-gray: hsla(0, 0%, 79%, 1);
  --blue-crayola: rgba(2,37,84,255);
  --black-coral: hsla(220, 12%, 43%, 1);
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: rgba(251,79,18,255);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  --ultramarine-blue_10: hsla(235, 70%, 60%, 0.1);
  --ultramarine-blue: hsl(9, 100%, 62%);
  --orange-soda: hsl(9, 100%, 62%);

  /** 
   * typography
   */

  --ff-manrope: 'Manrope', sans-serif;

  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + .66vw);
  --fs-3: 2.2rem;
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  
  --fw-700: 700;

  /** 
   * spacing
   */

  --section-padding: 10px;

  /**
   * box shadow
   */

  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
  --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-10: 10px;
  --radius-8: 8px;
  --radius-6: 6px;

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;
  --transition-timing: 0.2s ease;

  
}




/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-manrope);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black-coral);
  font-size: 1.6rem;
  line-height: 1.7;
}

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
/*  */


.language-selector {
  display: inline-block;
  position: relative;
}

.language-selector .current-language {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  min-width: 100px;
}

.language-selector .language-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 1;
}

.language-selector:hover .language-menu {
  display: block;
}

.language-selector .language-menu li {
  display: block;
}

.language-selector .language-menu li a {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 3px 3px;
  cursor: pointer;
}

.language-selector .language-menu li:first-child a {
  border-radius: 3px 3px 0 0;
}






/*  */
.container { padding-inline: 16px; }

.social-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-link {
  font-size: 2rem;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) { transform: translateY(-3px); }

.section { padding-block: var(--section-padding); }

.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--charcoal);
  font-weight: var(--fw-700);
  line-height: 1.3;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.h4 { font-size: var(--fs-4); }

.h5 { font-size: var(--fs-6); }

.btn {
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  border: 2px solid var(--white);
  max-width: max-content;
  padding: 12px 28px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
  will-change: transform;
  
}

.btn:is(:hover, :focus-visible) { transform: translateY(-4px); }

.btn-primary,
.btn-outline:is(:hover, :focus-visible) {
  background-color: var(--white);
  color: var(--charcoal);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  font-size: var(--fs-7);
  text-transform: uppercase;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
  margin-block-end: 16px;
}

.grid-list {
  display: grid;
  gap: 25px;
}

.w-100 { width: 100%; }


/*  */
/* 
 * overlay 
 */ 
/* 
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  transition: 0.5s ease;
} */

.overlay.active {
  opacity: 1;
  pointer-events: all;

}


/**
 * MODAL 
 */
  
 .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
  animation: popup 1s ease-in-out 1s forwards;
}

.modal-content {
  width: 80%;
  max-width: 400px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.newsletter-img img {
  width: 100%;
  height: auto;
}

@keyframes popup {

  0% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

}

.modal.closed { display: none; }

.modal-close-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-content img {
  display: block;
  width: 100%;
  height: auto;
}

.modal-content {
  position: relative;
  max-width: 100%;
  margin: 20px;
  background: var(--white);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  z-index: 2;
  animation: scaleUp 0.5s ease-in-out 1s forwards;
}

@keyframes scaleUp {

  0% { transform: scale(0.9); }
  100% { transform: scale(1); }

}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--salmon-pink);
  color: var(--white);
  font-size: 16px;
  padding: 5px;
  border-radius: var(--border-radius-sm);
}

.modal-close-btn:hover { opacity: 0.9; }

.modal-close-btn ion-icon { --ionicon-stroke-width: 70px; }

.newsletter {
  padding: 50px 30px;
  text-align: center;
}

.newsletter-header { margin-bottom: 20px; }




 */

/*  */

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/


/*  */
.contact__container{
  background: var(--color-bg1);
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 30rem;
  margin: 7rem auto;
  border-radius: 1rem;
 
}
.contact__aside{
  background: var(--color-primary);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 10rem;
}
.contact__aside h2{
  
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.contact__aside p{
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.contact__details li{
display: flex;
gap: .5rem;
align-items: center;
margin-bottom: 1rem;


}
.contact__details li i{
  font-size: 1.5rem;
  
}
.contact__socials{
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  
}
.contact__container a{
  background: var(--color-bg2);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: var(--transition);
  
}
.contact__container a:hover{
  background: transparent;
  font-size: 1.5rem;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 4rem;

}
.form__name{
  display: flex;
  gap: 1.2rem;

}
.contact__form input[type="text"]{
width: 50%;
}
.contact__form input, textarea{
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-white);
  padding: 1rem;
}

.contact__form .btn{

  width: max-content;
  margin-top: 1rem;
  cursor: pointer;
}





@media screen and (max-width:1024px) {
  .contact{
     padding-bottom: 0;
      
     
  }
  .contact__container{
      gap: 1.5rem;
      margin-top: 3rem;
      height: auto;
      padding: 1.5rem;
  }
  .contact__aside{
      width: auto;
      padding: 1.5rem;
      bottom: 0;
  }
  .contact__form{
      align-self: center;
      margin-right: 1.5rem;
  }
  .stats-card {
    grid-template-columns: repeat(3, 1fr);
    
    /* background-color: var(--blue-crayola); */
    background-color: transparent;
  }
  
  .stats-card .card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid var(--orange-soda);
    padding: 10px;
    background-color: var(--orange-soda);
    border-radius: 5%;
  }
  
  .stats-card li {
    background-color: transparent;
    
    margin: 0;
  }
.stats-card  .h1    {
  color: var(--orange-soda);
}

.stats-card  .span{
  color: var(--orange-soda);
}



}
@media screen and (max-width:600px) {
  .contact__container{
      grid-template-columns: 1fr;
      gap: 3rem;
      margin-top: 0;
      padding: 0;
  }
  .contact__form{
      margin: 0 1.5rem 3rem;
  }
  .form__name{
      flex-direction: column;

  }
  .form__name input[type="text"]{
      width: 100%;
  }
  .stats-card {
    grid-template-columns: repeat(3, 1fr);
    
    /* background-color: var(--blue-crayola); */
    background-color: transparent;
  }
  
 
  
  .stats-card li {
    background-color: transparent;
    
    margin: 0;
  }
.stats-card  .h1    {
  color: var(--orange-soda);
}

.stats-card  .span{
  color: var(--orange-soda);
}

  .stats-card .card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid var(--orange-soda);
    padding: 10px;
    background-color: var(--orange-soda);
    border-radius: 5%;
  }
  
  .features-card {
    padding: 20px;
    height: auto;
    gap: 5px;
  }
  
  .features-card .card-icon {
    width: 30px;
    height: 40px;
    font-size: 22px;
  }
  
  .features-card .card-title {
    font-size: 12px;
  }


} 
/*  */





.ebda{
  
  color: #022455;
}
/* .navbar-list li a{
  color:  #08408d;
} */


.header .btn { display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}

.header.active {
  background-color: var(--white);
  position: fixed;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header.active .logo-light,
.header .logo-dark { display: none; }

.header .logo-light,
.header.active .logo-dark { display: block; }

.nav-open-btn {
  font-size: 3.5rem;
  color: var(--white);
}

.header.active .nav-open-btn { color: var(--charcoal); }

.navbar {
  position: fixed;
  top: 0;
  left: -300px;
  background-color: var(--raisin-black);
  color: var(--white);
  max-width: 300px;
  width: 100%;
  height: 100vh;
  padding: 30px;
  padding-block-end: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
  visibility: hidden;
  transition: var(--transition-3);
}

.navbar.active {
  visibility: visible;
  transform: translateX(300px);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-close-btn {
  background-color: var(--white_a8);
  color: var(--white);
  font-size: 2rem;
  padding: 6px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.nav-close-btn ion-icon { --ionicon-stroke-width: 50px; }

.nav-close-btn:is(:hover, :focus-visible) { background-color: var(--white_a12); }

.navbar-list { margin-block-end: auto; }

.navbar-link {
  font-weight: var(--fw-700);
  padding-block: 6px;
}

.contact-link { transition: var(--transition-1); }

.contact-link:is(:hover, :focus-visible) { color: var(--violet-blue-crayola); }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--raisin-black);
  pointer-events: none;
  opacity: 0;
  transition: var(--transition-1);
}

.overlay.active {
  pointer-events: all;
  opacity: 0.8;
}

.logo img{
    
 
  width: 30%;
  max-width: 300px; /* adjust as needed */
  display: block;
  margin: 0 auto;
  filter: brightness(0.9) contrast(1.1); /* adjust as needed */
  border: 2px solid white; /* add a border to the logo */
  border-radius: 50%; /* make the logo round */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* add a shadow to the logo */
}



/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
/*  */

.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  background-color: #268bd2;
  color: #fff;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-icon {
  font-size: 48px;
  margin-bottom: 10px;
}

.card-number {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  text-align: center;
}
/*  */
.hero {
  padding-block-start: calc(var(--section-padding) + 70px);
  text-align: center;
  padding: 100px 0;
}

.hero .container {
  display: grid;
  gap: 70px;
}

.hero-title { color: var(--white); }

.hero-text {
  font-size: var(--fs-5);
  color: var(--white);
  margin-block: 24px 36px;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero-slider,
.hero-card { position: relative;

padding: 10px 0;}

.hero-card .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  color: var(--charcoal);
  font-size: 2rem;
  padding: 25px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
  animation: pulse 2s ease infinite;
}

.hero-card .play-btn:is(:hover, :focus-visible) { color: var(--violet-blue-crayola); }

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--white_a70); }
  75% { box-shadow: 0 0 0 20px transparent; }
}

.hero .slider-inner {
  border-radius: var(--radius-10);
  overflow: hidden;
}

.hero .slider-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  transition: var(--transition-2);
}

.hero .slider-item {
  min-width: 100%;
  width: 100%;
  border-radius: var(--radius-10);
  overflow: hidden;
}

.hero .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--white_a70);
  color: var(--charcoal);
  font-size: 2rem;
  padding: 12px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.hero .slider-btn:is(:hover, :focus-visible) { background-color: var(--white); }

.hero .slider-btn.prev { left: 20px; }

.hero .slider-btn.next { right: 20px; }





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about { padding-block-start: 10; }

.about-banner {
  background-color: var(--light-gray);
  max-width: max-content;
  aspect-ratio: 550 / 590;
  margin-block-end: 40px;

  /* Add these rules */
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px;
}

.about-img {
  border-radius: var(--radius-6);

  /* Add this rule */
  width: 100%;
}

.about-list {
  margin-block: 40px 60px;
}

.about-item {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.about-item:not(:last-child) {
  margin-block-end: 30px;
}

.about-item .item-icon {
  padding: 15px;
  border-radius: 50%;
}

.about-item .item-icon-1 {
  background-color: var(--orange-peel_10);
}

.about-item .item-icon-2 {
  background-color: var(--ultramarine-blue_10);
}

.about-item .item-icon-3 {
  background-color: var(--coral_10);
}

.about-item .item-title {
  line-height: 1.6;
  margin-block-end: 5px;
}

.about-item .item-text {
  font-weight: 700;
}


.btn-primaryy {
  background-color: var(--ultramarine-blue);
  color: var(--white);
  /* width: 100%; */
}



  /* #SERVICE
\*-----------------------------------*/ */

/*  */
.main-areas {
  margin: 20px;
}

.main-areas h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.column {
  flex: 50%;
  padding: 0 10px;
}

.area {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.area img {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.area h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.area p {
  font-size: 18px;
  line-height: 1.5;
}



/*  */
.service { text-align: center
  ;
  

   }

.service .section-title { margin-block-end: 50px; }

.service-card {
  padding: 40px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-6);
}

.service-card .card-icon {
  width: 60px;
  height: 60px;
  background:#042552;
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 2.5rem;
  border-radius: var(--radius-circle);
  margin-inline: auto;
}

.service-card .card-icon ion-icon { --ionicon-stroke-width: 50px; }

.service-card .card-title { margin-block: 16px 10px; }

.service-card .btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-block-start: 10px;
  color: var(--violet-bl  ue-crayola);
  font-weight: var(--fw-700);
  transition: var(--transition-1);
}

.service-card .btn-text:is(:hover, :focus-visible) { opacity: 0.9; }





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .container {
  display: grid;
  gap: 50px;
}

.about .section-title { margin-block-end: 35px; }

.accordion-card .card-title { padding-block-end: 20px; }

.accordion-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-btn ion-icon {
  font-size: 1.5rem;
  color: var(--blue-crayola);
  transition: var(--transition-1);
}

.accordion-card.expanded .accordion-btn ion-icon {
  transform: rotate(0.5turn);
}

.accordion-btn .span { transition: var(--transition-1); }

.accordion-btn:is(:hover, :focus-visible) .span,
.accordion-card.expanded .accordion-btn .span { color: var(--violet-blue-crayola); }

.accordion-content {
  padding-inline-start: 24px;
  max-height: 0;
  overflow: hidden;
}

.accordion-card.expanded .accordion-content {
  max-height: max-content;
  padding-block-end: 20px;
}





/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.feature .container {
  display: grid;
  /* gap: 50px; */
 
}

/* .feature .section-text { margin-block: 25px 30px; } */

.feature-list {
  display: grid;
  gap: 15px;
}

.feature-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature-card .card-icon {
  background-color: var(--lavender-web);
  font-size: 1.4rem;
  padding: 10px;
  color: #000;
  border-radius: var(--radius-circle);
}

.feature-card .card-icon ion-icon { --ionicon-stroke-width: 40px; }





/*-----------------------------------*\
  #STATS
\*-----------------------------------*/

.stats { background-image: linear-gradient(to bottom, var(--white) 50%, var(--cultured) 50%); }

.stats-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 36px 24px;
  padding: 45px 30px;
  border-radius: var(--radius-8);
}

.stats-card .card-text > * { color: var(--white); }





/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

.project { background-color: var(--cultured); }

.project :is(.section-subtitle, .section-title) { text-align: center; }

.project .section-title { margin-block-end: 50px; }

.project-card {
  background-color: var(--white);
  border-radius: var(--radius-8);
  overflow: hidden;
  box-shadow: var(--shadow-2);
  height: 100%;
}

.project-card .card-content { padding: 30px; }

.project-card .card-title { transition: var(--transition-1); }

.project-card .card-title:is(:hover, :focus-visible) { color: var(--violet-blue-crayola); }

.project-card .card-text { margin-block: 16px 20px; }

.project-card .card-meta-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.project-card .card-meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--cadet-blue-crayola);
  font-size: var(--fs-8);
}





/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta { background-color: var(--charcoal); }

.cta .container {
  padding-block: 100px 60px;
  border-block-end: 1px solid var(--cadet-blue-crayola_a20);
}

.cta .section-title {
  color: var(--white);
  margin-block-end: 30px;
}

.cta .btn {
  background-color: var(--violet-blue-crayola);
  color: var(--white);
  border: none;
}





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.logo-image {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.footer {
  background-color: var(--charcoal);
  padding-block: 60px 100px;
  color: var(--light-gray);
  
}

.footer-brand .footer-text { margin-block: 20px; }

.footer .social-list { color: var(--white); }

.footer-list-title {
  color: var(--white);
  margin-block-end: 16px;
}

.footer-link {
  padding-block: 4px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus-visible) { color: var(--violet-blue-crayola); }

.footer__container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10rem;
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */
  .features-card {
    padding: 20px;
    height: auto;
    gap: 5px;
  }
  
  .features-card .card-icon {
    width: 30px;
    height: 40px;
    font-size: 22px;
  }
  
  .features-card .card-title {
    font-size: 12px;
  }
  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }



  /**
   * PROJECTS
   */

  .project-card .card-content { padding: 40px; }


  .features-card {
    position: relative;
    background: var(--white);
    padding: 40px 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  }
  
  .features-card:is(:hover, :focus) { background: hsl(9, 100%, 62%); }
  
  .features-card .card-icon {
    background: hsl(8, 100%, 97%);
    color: hsl(9, 100%, 62%);
    width: 40px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    gap: 30px;
    font-size: 28px;
  }

  
  .features-card .card-icon ion-icon { --ionicon-stroke-width: 20px; }
  
  .features-card .card-title {
    color: hsl(188, 63%, 7%);
    font-family: "Poppins", sans-serif;
    font-size: 0.2rem;
    font-weight:600;
    text-align: center;
    transition: 0.25s ease;
  }

    .stats-card .card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid var(--orange-soda);
    padding: 10px;
    background-color: var(--orange-soda);
    border-radius: 5%;
  }
  
}
@media only screen and (min-width: 280px) and (max-width: 409px) and (min-height: 653px) and (max-height: 766px) {
  .features-card {
    padding: 20px;
    height: auto;
    gap: 5px;
  }
  
  .features-card .card-icon {
    width: 30px;
    height: 40px;
    font-size: 22px;
  }
  
  .features-card .card-title {
    font-size: 12px;
  }
}




/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  .features-card {
    padding: 20px;
    height: auto;
    gap: 5px;
  }
  
  .features-card .card-icon {
    width: 30px;
    height: 40px;
    font-size: 22px;
  }
  
  .features-card .card-title {
    font-size: 12px;
  }
  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 50px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .grid-list { grid-template-columns: 1fr 1fr; }



  /**
   * HEADER
   */

  .header .btn {
    display: block;
    margin-inline-start: auto;
    padding: 8px 20px;
  }

  .header.active .btn {
    background-color: var(--violet-blue-crayola);
    border-color: var(--violet-blue-crayola);
    color: var(--white);
  }



  /**
   * HERO
   */

  .hero-content {
    max-width: 85%;
    margin-inline: auto;
  }

  .hero-text { --fs-5: 2rem; }



  /**
   * SERVICE
   */

  .service .section-title {
    max-width: 30ch;
    margin-inline: auto;
  }



  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 0.7fr;
    align-items: center;
  }



  /**
   * FEATURE
   */

  .feature .container {
    grid-template-columns: 0.7fr 1fr;
    align-items: center;
  }

  .feature-banner { order: 1; }

  .features-card {
    position: relative;
    background: var(--white);
    padding: 40px 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  }
  
  .features-card:is(:hover, :focus) { background: hsl(9, 100%, 62%); }
  
  .features-card .card-icon {
    background: hsl(8, 100%, 97%);
    color: hsl(9, 100%, 62%);
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 28px;
  }
  
  .features-card .card-icon ion-icon { --ionicon-stroke-width: 20px; }
  
  .features-card .card-title {
    color: hsl(188, 63%, 7%);
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight:600;
    text-align: center;
    transition: 0.25s ease;
  }

    .stats-card .card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid var(--orange-soda);
    padding: 10px;
    background-color: var(--orange-soda);
    border-radius: 5%;
  }
  

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  .features-card {
    padding: 20px;
    height: auto;
    gap: 5px;
  }
  
  .features-card .card-icon {
    width: 30px;
    height: 40px;
    font-size: 22px;
  }
  
  .features-card .card-title {
    font-size: 12px;
  }
  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }



  /**
   * HEADER
   */

  .nav-open-btn,
  .navbar > *:not(.navbar-list),
  .overlay { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
    margin-inline: auto 24px;
  }

  .navbar-list {
    display: flex;
    gap: 30px;
  }

  .navbar-link {
    color: var(--white);
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus-visible) { opacity: 0.7; }

  .header.active .navbar-link { color: var(--charcoal); }

  .header.active .navbar-link:is(:hover, :focus-visible) {
    opacity: 1;
    color: var(--violet-blue-crayola);
  }

  .header .btn { margin-inline-start: 0; 
  
  
  
  }

    .stats-card .card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid var(--orange-soda);
    padding: 10px;
    background-color: var(--orange-soda);
    border-radius: 5%;
  }
  



  /**
   * HERO
   */

  .hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    text-align: left;
  }

  .hero .container {
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
  }

  .hero-content {
    max-width: unset;
    margin-inline: 0;
  }

  .btn-wrapper { justify-content: flex-start; }



  /**
   * STATS
   */

   .stats-card {
    grid-template-columns: repeat(3, 1fr);
    
    /* background-color: var(--blue-crayola); */
    background-color: transparent;
  }
  
  .stats-card .card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid var(--orange-soda);
    padding: 50px;
    background-color: white;
    border-radius: 5%;
  }
  
  .stats-card li {
    background-color: transparent;
    
    margin: 0;
  }
.stats-card  .h1    {
  color: var(--orange-soda);
}

.stats-card  .span{
  color: var(--orange-soda);
}

  /**
   * PROJECT
   */

  .project .section-title {
    max-width: 32ch;
    margin-inline: auto;
  }



  /**
   * CTA
   */

  .cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta .btn { min-width: max-content; }

  .cta .section-title {
    max-width: 30ch;
    margin-block-end: 0;
  }



  /**
   * FOOTER
   */

  .footer .grid-list { grid-template-columns: repeat(4, 1fr); }

    

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

   
  .container { max-width: 1140px; }



  /**
   * HERO
   */

  .hero-text { padding-inline-end: 100px; }



  /**
   * SERVICE
   */

  .service .grid-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * STATS
   */

  .stats .container { max-width: 70%; }

  .stats-card { padding: 60px; }



  /**
   * PROJECT
   */

  .project .grid-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * FOOTER
   */

  address.footer-text {
    padding-inline-end: 100px;
    margin-block-end: 16px;
  }

}





/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {

  /**
   * REUSED STYLE
   */

   
  .container { max-width: 1320px; }

  

  /**
   * FEATURE
   */

  .feature-list { grid-template-columns: 1fr 1fr; }



  .features-card {
    position: relative;
    background: var(--white);
    padding: 40px 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  }
  
  .features-card:is(:hover, :focus) { background: hsl(9, 100%, 62%); }
  
  .features-card .card-icon {
    background: hsl(8, 100%, 97%);
    color: hsl(9, 100%, 62%);
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 28px;
  }
  
  .features-card .card-icon ion-icon { --ionicon-stroke-width: 20px; }
  
  .features-card .card-title {
    color: hsl(188, 63%, 7%);
    font-family: "Poppins", sans-serif;
    font-size: 1.9rem;
    font-weight:600;
    text-align: center;
    transition: 0.25s ease;
  }

}


/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features {
  /* background: var(hsl(192, 24%, 96%)); */
  background-color: hsl(192 , 24% ,96%);
  padding-block: 100px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 20px;
}

.features-list > li { width: calc(50% - 10px); }

.features-card {
  position: relative;
  background: var(--white);
  padding: 40px 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
}

.features-card:is(:hover, :focus) { background: hsl(9, 100%, 62%); }

.features-card .card-icon {
  background: hsl(8, 100%, 97%);
  color: hsl(9, 100%, 62%);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 28px;
}

.features-card .card-icon ion-icon { --ionicon-stroke-width: 20px; }

.features-card .card-title {
  color: hsl(188, 63%, 7%);
  font-family: "Poppins", sans-serif;
  font-size: 1.9rem;
  font-weight:600;
  text-align: center;
  transition: 0.25s ease;
}

.features-card:is(:hover, :focus) .card-title { color: var(--white); }

.features-card .card-btn {
  background: var(--white);
  color: hsl(200, 15%, 43% ) ;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px hsla(219, 56%, 21%, 0.1);
  transition:  0.25s ease;
}

.features-card:is(:hover, :focus) .card-btn { color:hsl(9, 100%, 62%); }

.section-subtitle {
  color: var(--orange-soda);
  font-size: var(--fs-5);
  font-weight: 600;
  padding: 5px 20px;
  background: hsla(9, 100%, 62%, 0.1);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.section-title {
  text-align: var(--text-align, center);
  margin-bottom: var(--margin-bottom, 50px);
  font-weight: 600;
 
  
}

.card-badge {
  background: var(--black);
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 10px;
}

.card-badge.green { background: var(--yellow-green); }

.card-badge.orange { background: var(--orange-soda); }

.has-scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: hsl(192, 24%, 96%);
  outline: 2px solid hsl(200, 15%, 43%);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(200, 15%, 43%);
  border: 1px solid hsl(192, 24%, 96%);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 15%; }


.section-title {
  text-align: left, center;
  margin-bottom:  15px, 50px;
}
.about .section-title { max-width: 30ch; }



.features-list > li { width: calc(33.33% - 13.33px); }

.features-card { gap: 30px; }

.features-card .card-icon {
  width: 80px;
  height: 80px;
  font-size: 35px;
}

.features-card .card-title { --fs-6: 1.125rem; }


.features-list { column-gap: 30px; }

.features-list > li { width: calc(25% - 30px); }



.containerr {
  max-width: 80%;
  margin-inline: auto;
}



@media screen and (max-width: 280px) and (max-height: 653px) {
  .features-card {
    padding: 25px;
    height: auto;
    gap: 20px;
   
  }
  
  .features-card .card-icon {
    width: 30px;
    height: 40px;
    font-size: 8px;
    
  }
  .card-icon img{
width: 100%;
  }
  
  .features-card .card-title {
    font-size: 8px;
   
  }

 
}

@media only screen and (min-width: 280px) and (max-width: 409px) and (min-height: 653px) and (max-height: 766px) {

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding-block: 40px;
  }
  
  .footer-brand {
    margin-block-end: 40px;
    text-align: center;
  }
  
  .footer-brand .footer-text {
    margin-block: 10px;
  }
  
  .footer-list {
    margin-block-end: 20px;
    text-align: center;
  }
  
  .footer-link {
    padding-block: 2px;
  }
  
  .social-list {
    justify-content: center;
    margin-block-end: 40px;
  }

  .features-card {
    padding: 25px;
    height: auto;
    gap: 20px;
   
  }
  
  .features-card .card-icon {
    width: 30px;
    height: 40px;
    font-size: 8px;
    
  }
  .card-icon img{
width: 100%;
  }
  
  .features-card .card-title {
    font-size: 8px;
   
  }
  
}
@media screen and (max-width: 265px) {

  .footer {
    padding: 40px 20px;
    font-size: 14px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-brand {
    text-align: center;
  }

  .footer-brand .footer-list,
  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-brand .logo-image {
    width: 50px;
    height: 50px;
  }

  .footer-list-title {
    margin-bottom: 10px;
  }

  .footer-text {
    margin-bottom: 10px;
  }

  .social-list {
    justify-content: center;
  }

  .features-card {
    padding: 25px;
    height: auto;
    gap: 20px;
   
  }
  
  .features-card .card-icon {
    width: 30px;
    height: 40px;
    font-size: 8px;
    
  }
  .card-icon img{
width: 100%;
  }
  
  .features-card .card-title {
    font-size: 8px;
   
  }

}
@media only screen and (max-width: 279px) {
  .footer__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding-inline: 1rem;
  }

  .footer-brand {
    text-align: center;
  }

  .footer-text {
    text-align: center;
    margin-block: 10px;
  }

  .footer-list {
    text-align: center;
  }

  .footer-list-title {
    margin-block-end: 12px;
  }

  .footer-link {
    display: block;
    margin-inline: auto;
    padding-block: 6px;
  }

  .features-card {
    padding: 25px;
    height: auto;
    gap: 20px;
   
  }
  
  .features-card .card-icon {
    width: 30px;
    height: 40px;
    font-size: 8px;
    
  }
  .card-icon img{
width: 100%;
  }
  
  .features-card .card-title {
    font-size: 8px;
   
  }
}

@media only screen and (min-width: 411px) and (max-width: 469px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding-block: 40px;
  }
  
  .footer-brand {
    margin-block-end: 40px;
    text-align: center;
  }
  
  .footer-brand .footer-text {
    margin-block: 10px;
  }
  
  .footer-list {
    margin-block-end: 20px;
    text-align: center;
  }
  
  .footer-link {
    padding-block: 2px;
  }
  
  .social-list {
    justify-content: center;
    margin-block-end: 40px;
  }

  .features-card {
    padding: 25px;
    height: auto;
    gap: 20px;
   
  }
  
  .features-card .card-icon {
    width: 30px;
    height: 40px;
    font-size: 8px;
    
  }
  .card-icon img{
width: 100%;
  }
  
  .features-card .card-title {
    font-size: 8px;
   
  }
}
@media only screen and (min-width: 342px) and (max-width: 652px) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-block: 30px 20px;
  }
}

@media only screen and (min-width: 411px) and (max-width: 437px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding-block: 40px 30px;
  }
}

@media only screen and (min-width: 265px) and (max-width: 279px) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-block: 30px 20px;
  }
}

@media only screen and (min-width: 280px) and (max-width: 409px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding-block: 40px 30px;
  }
}

@media only screen and (min-width: 410px) and (max-width: 437px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding-block: 40px 30px;
  }
}

@media only screen and (min-width: 438px) and (max-width: 652px) {
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    padding-block: 60px 100px;
  }
}

@media only screen and (min-width: 653px) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    padding-block: 60px 100px;
  }
}

@media only screen and (min-width: 439px) and (max-width: 483px) {
  .footer {
    padding-block: 40px 60px;
  }
  
  .footer__container {
    display: block;
  }
  
  .footer-brand {
    text-align: center;
    margin-block-end: 40px;
  }
  
  .footer-list {
    text-align: center;
    margin-block-end: 40px;
  }
  
  .footer-list-title {
    margin-block-end: 16px;
  }
  
  .footer-link {
    display: block;
    margin-block-end: 8px;
  }
  
  .social-list {
    margin-block-end: 32px;
  }
  
  .logo-image {
    animation: none;
    margin-inline: auto;
    display: block;
    margin-block-end: 24px;
  }
}

@media screen and (min-width: 587px) {
  .modal-content {
    max-width: 50%;
    max-height: 70%;
  }
}
@media screen and (min-width: 657px) {
  .modal-content {
    max-width: 50%;
    max-height: 70%;
  }
}
@media screen and (min-width: 715px) {
  .modal-content {
    max-width: 50%;
    max-height: 70%;
  }
}

@media screen and (min-width: 768px) {
  .modal-content {
    max-width: 50%;
    max-height: 80%;
  }
}

@media screen and (min-width: 992px) {
  .modal-content {
    max-width: 40%;
    max-height: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-content {
    max-width: 30%;
    max-height: 60%;
  }
}